<h1 class="page-heading-left">Welcome!</h1>
<%= image_tag('pasta-tomatoes.jpg') %>
<p>Welcome to Avocado, the electronic restaurant/supply management system.</p>
<p class="institution-creation"><%= link_to "Sign up your restaurant!", new_restaurant_path %></p>
<p class="institution-creation"><%= link_to "Sign up your supply company!", new_supplier_path %></p>
<p>Above, you will find buttons to sign up your restaurant or supply company.</p>
<p>If you work for a company that is already on the platform, let the owner know so they can add you as a user.</p>
