<p class="institution-creation"><%= link_to "Sign up your restaurant!", new_restaurant_path %></p>
<p class="institution-creation"><%= link_to "Sign up your supply company!", new_supplier_path %></p>
