<h1><%= @user.email %></h1>

<h2>Restaurants</h2>
<div class="user-restaurants">
  <%= render @restaurants %>
</div>
<div class="main">
  <h2>Suppliers</h2>
  <div class="user-suppliers">

  </div>

  <h2>Orders</h2>
  <div class="orders-collection">

  </div>
</div>
