<h1><%= @user.email %></h1>

<div class="filter-options">
  <div class="restaurant-block">
    <h2>Restaurants</h2>
    <div class="user-restaurants">
      <%= render @restaurants %>
    </div>
  </div>

  <div class="supplier-block">
    <h2>Suppliers</h2>
    <div class="user-suppliers">
    </div>
  </div>
</div>


<div class="order-block">
  <h2>Orders</h2>
  <div class="orders-collection">
  </div>
</div>
