<h1 class="page-heading-left">Credits</h1>

<p>A big 'Thank You!' to the following people for the use of their awesome work:</p>

<ul>
  <li>Eye by Gilbert Walden from the Noun Project</li>
  <li>Caution by MarkieAnn Packer from the Noun Project</li>
  <li>Clipboard by Andrew Onorato from the Noun Project</li>
  <li>Truck by Vicons Design from the Noun Project</li>
  <li>Gift by Anna Nebbiati from the Noun Project</li>
  <li>Dollar by Luboš Volkov from the Noun Project</li>
  <li>Check Mark by Remco Homberg from the Noun Project</li>
  <li>Pencil by Erin Standley from the Noun Project</li>
  <li>Plus by Andre from the Noun Project</li>
  <li>Trash by Jens Tärning from the Noun Project</li>
  <li>Avocado by Anjully Lozano from the Noun Project</li>
</ul>
