<p class="permissions-modal-close-btn">X</p>
<h3>Edit Employee Access</h3>
<%= form_for @permission do |f| %>
  <%= f.select :role_id, options_for_select([['Master', 1], ['Privileged', 2], ['Restricted', 3]]) %>
  <%= f.submit "Update", class: "permission-submission" %>
<% end %>
