<li class="invoice-item">
  <%= invoice_item.name.capitalize %>
  <div>
    <span class='invoice-item-price'><%= invoice_item.formatted_price %></span>
    <span class='invoice-item-quantity'><%= invoice_item.quantity %></span>
    <span class='order-item-subtotal'><%= invoice_item.formatted_subtotal %></span>
  </div>
</li>
