<div class="items-search-bar">
  <%= text_field_tag :items_search_field, nil, placeholder: "Search..." %>
</div>

<div class="items-index-container">
  <ul class="items-list">
    <%= render @items %>
  </ul>
</div>
