<div class="item-show-container">
  <h3 class="page-heading-left"><%= @item.name %></h3>
  <p>Description: <%= @item.description %></p>

  <div class="available-from">
    <p class="subheading minor-heading">Available From:</p>
    <ul>
      <% @inventory_items.each do |inventory_item| %>
        <li>
          <p class="available-from-supplier"><%= link_to inventory_item.supplier.name, supplier_path(inventory_item.supplier) %></p> 
           $<%= inventory_item.formatted_price %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
