html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

#home-body {
  background-color: $primary;
  padding-bottom: 4rem;
  height: 90%;
  border-bottom: 1px solid $divider;
}

.splash-title {
  font-size: 120px;
  text-align: center;
  color: #FFF;
  font-family: $heading-font-family;
  // font-family: 'Permanent Marker', sans-serif;
  margin-top: 10%;
  margin-bottom: 10px;
}

#home-main {
  border: 3px solid #000;
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $light-primary;
  padding: 1rem;
}

.splash-tag {
  text-align: center;
  font-size: 1.25rem;
  color: #000;
}

.splash-nav {
  background-color: $dark-primary;
  height: 2rem;
  overflow: hidden;
  border-bottom: 1px solid $divider;
}

.splash-nav-links {
  float: right;
  line-height: 2rem;
  padding-right: 0.5rem;
}

.splash-content {
  background-color: $light-primary;
  width: 70%;
  margin: 4rem auto 0;
  padding: 0.5rem;
  border: 1px solid black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  z-index: 1;
  background-color: $primary;
  border-bottom: 1px solid $divider;
}

.title {
  color: white;
  font-family: $base-font-family;
  font-size: 3rem;
}

main {
  margin-top: 3rem;
  margin-left: 8rem;
  padding: 1rem;
}

nav {
  position:fixed;
  width: 8rem;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 3rem;
  border-right: 1px solid $divider;
}

.nav-link {
  margin: 0;
  text-align: center;
}



.session-status {
  position: absolute;
  right: 0;
  bottom: 0;
}

.session-status > p {
  margin-bottom: 0;
  color: white;
  margin-right: 0.5rem;
}

.delivery {
  border-top: 1px solid black;
  padding: $small-spacing;
}

.delivery:first-child {
  border: 0;
}

.deliveries-modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #EEE;
  padding: $base-spacing;
  border: 1px solid black;
  border-radius: 1%;
  overflow: scroll;
  background-color: $light-gray;
}

.deliveries-modal-close-btn {
  float: right;
  padding: 0 7px;
  cursor: pointer;
  border-radius: 50%;
  font-family: $perfect-x-font-family;
}

.deliveries-modal-close-btn:hover {
    background-color: tomato;
    color: white;
}
