// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice-container {
  max-width: 70rem;
}

.negative-delta {
  color: red;
}

.positive-delta {
  color: green;
}

.invoice-ship-btn, .invoice-show-receive-btn {
  float: right;
  margin: 2rem 2rem 0 0;
}

.invoice-show-receive-img {
  position: fixed;
  left: 71rem;
  top: -10.4rem;

  transition-property: top;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.invoice-show-receive-img-active {
  top: 10.4rem;
}

.order-shipped-img {
  position: fixed;
  top: 10.7rem;
  left: 25rem;

  transition-property: left;
  transition-duration: 2s;
  transition-delay: 0.55s;
  transition-timing-function: ease-in-out;
}

.order-shipped-img-active {
  display: inline-block;
  left: 70rem;
}

.delivery-date {
  display: inline-block;
}

.invoice-view-btn {
  display: inline-block;
  margin-left: 2rem;
}

.invoice-receive-btn {
  display: inline-block;
  margin-left: 1rem;
}

/////////////////////INVOICE SHOW TABLE//////////////////////

.invoice-section {
  display: inline-block;
  width: 100%;
  max-width: 70rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 1rem;
}

.invoice_items-table {

}

.invoice {
  border-top: 1px solid black;

  p {
    a {
      color: blue;
      text-decoration: none;
      transition: color $base-duration $base-timing;

      &:active,
      &:focus,
      &:hover {
        color: shade($action-color, 25%);
      }
    }
  }
}

.invoice-item {
  padding: 0.5rem;
  margin: .3rem;

  input[type="number"] {
    max-width: 5rem;
  }
}


.column-invoice-item-name {
  width: 60%;
}
.column-invoice-item-price {
  width: 10%;
}
.column-invoice-item-quantity {
  width: 10%;
}
.column-invoice-item-subtotal {
  width: 10%;
}
.column-invoice-item-difference {
  width: 10%;
}

.cell-invoice-item-price {
  text-align: right;
}

.cell-invoice-item-quantity {
  text-align: right;
}

.cell-invoice-item-subtotal {
  text-align: right;
}

.cell-invoice-item-difference {
  text-align: center;
}
