// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice-item {
  padding: 0.5rem;
  border: 1px solid #000;
  margin: .3rem;
}

.negative-delta {
  border: 1px solid red;
}

.positive-delta {
  border: 1px solid green;
}

.invoice-container {
  max-width: 50rem;
}

.invoice-ship-btn {
  float: right;
  margin: 2rem 2rem 0 0;
}

.order-shipped-img {
  float: right;
  margin: 2rem 36rem 0 0;

  transition-property: margin-right;
  transition-duration: 2s;
  transition-delay: 0.55s;
  transition-timing-function: ease-in-out;
}

.order-shipped-img-active {
  margin-right: 0;
}

.invoice {
  border-top: 1px solid black;
}

.delivery-date {
  display: inline-block;
}

.invoice-receive-btn {
  display: inline-block;
  margin-left: 2rem;
}
