// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice-item {
  padding: 0.5rem;
  border: 1px solid #000;
  margin: .3rem;
}

.negative-delta {
  border: 1px solid red;
}

.positive-delta {
  border: 1px solid green;
}

.invoice-container {
  max-width: 50rem;
}

.invoice-ship-btn {
  float: right;
  margin: 2rem 2rem 0 0;
}
