.item {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.items-index-container {
  width: 70%;
}

.item-show-container {
  max-width: 50rem;
}

#items_search_field {
  max-width: 70%;
}

.available-from {
  margin-top: 3rem;
}

.available-from-supplier {
  display: inline-block;
  min-width: 20rem;
  margin-bottom: 0;
}
