
*,
*:before,
*:after {
  box-sizing: border-box;
}
//////////////////////INVENTORY ITEM LIST SECTION/////////////////////

#inventory_search {
  border: 2px solid $primary;
}

.inventory-section {
  display: inline-block;
  width: 55%;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.order-summary {
  display: inline-block;
  float: right;
  width: 42%;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.column-inv-name {
  width: 50%;
}

.column-inv-price {
  width: 10%;
}

.column-inv-quantity {
  width: 10%;
}

.column-order-item-form {
  width: 20%;
}


.cell-order-item-form {
  text-align: right;
  input[type="number"] {
    display: inline-block;
    width: 40%;
    margin: 0;
  }
  input[type="submit"] {
    width: 40%;
  }
}

.cell-inv-price {
  text-align: right;
}

.cell-inv-quantity {
  text-align: right;

}

.cell-quantity-field {
  text-align: center;
}

/////////////////////////ORDER SUMMARY////////////////////////////////

.column-order-name {
  width: 35%;
}

.column-order-price {
  width: 15%;
}

.column-order-quantity {
  width: 20%;
}

.column-order-edit {
  width: 5%;
}

.column-order-subtotal {
  width: 15%;
}

.column-order-close {
  width: 10%;
}

.cell-order-item-price {
  text-align: right;
}

.cell-order-item-quantity, .cell-order-item-quantity-invoiced {
  text-align: right;

  input[type="number"] {
    display: inline-block;
    width: 60%;
    height: 1.5rem;
    max-width: 4rem;
    margin-bottom: 0;
  }
  input[type="submit"] {
    width: 30%;
    height: 1.25rem;
    padding: 0;
    max-width: 3rem;
  }
}

.cell-order-item-subtotal {
  text-align: right;
}

.cell-order-item-close {
  text-align: center;
}


/////////////////ORDER INDEX PAGE//////////////////////////////

.container-statuses {
  float: right;
}

.filter-options {
  max-width: 80%;
  margin: 1rem auto;
}

.filter-option {
  cursor: pointer;
  margin-left: 0.1rem;
  padding: 0 1rem;
}

.filter-option-heading {
  display: inline-block;
  font-weight: bolder;
  width: 9rem;
}

.filter-options-restaurants {
}

.filter-options-status {
  margin-top: 0.5rem;
}

.filter-restaurant {
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.25rem;
  // padding: 0.2rem;
}

.filter-status {
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.25rem;
  // padding: 0.2rem;
}

.filter-option-active {
  background-color: pink;
}

.selected-orders {
  max-width: 80%;
  // border: 1px solid black;
  border-radius: 1%;
  margin: 0 auto;
}

///////////////////////////OTHER//////////////////////////////////////

.hidden {
  display: none;
}

.order-dragover {
  border: 2px dashed $accent;
}

.inventory-dragover {
  border: 2px dashed $accent;
}

.order-index-order {
  width: 50%;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  padding: 1rem;

  p {
    margin: 0;
  }
}

.order-status {
  float: right;
}

.order-items {
  max-width: 70rem;
}
