
*,
*:before,
*:after {
  box-sizing: border-box;
}
//////////////////////INVENTORY ITEM LIST SECTION/////////////////////

#inventory_search {
  border: 2px solid red;
}

.inventory-section {
  display: inline-block;
  width: 65%;
  border: 1px solid black;
  border-radius: 1%;
}

.order-summary {
  display: inline-block;
  float: right;
  width: 30%;
  border: 1px solid black;
  border-radius: 1%;
}

.column-inv-name {
  width: 50%;
}

.column-inv-price {
  width: 10%;
}

.column-inv-quantity {
  width: 10%;
}

.column-quantity-field {
  width: 10%;
}

.column-submit-btn {
    width: 10%;
}

.cell-order-item-quantity-field {
  input[type="number"] {
    width: 60%;
    margin: 0 auto;
  }
}

.cell-order-item-submit-btn {
  input[type="submit"] {
    margin: 0 auto;
  }
}

.cell-inv-price {
  text-align: right;
}

.cell-inv-quantity {
  text-align: right;
}

.cell-quantity-field {
  text-align: center;
}

/////////////////////////ORDER SUMMARY////////////////////////////////

.column-order-name {
  width: 50%;
}

.column-order-price {
  width: 15%;
}

.column-order-quantity {
  width: 10%;
}

.column-order-edit {
  width: 5%;
}

.column-order-subtotal {
  width: 15%;
}

.column-order-close {
  width: 5%;
}

.cell-order-item-price {
  text-align: right;
}

.cell-order-item-quantity {
  text-align: right;
}

.cell-order-item-subtotal {
  text-align: right;
}

.cell-order-item-close {
  text-align: center;
}


///////////////////////////OTHER//////////////////////////////////////

.hidden {
  display: none;
}

.order-dragover {
  border: 2px dashed $accent;
}

.inventory-dragover {
  border: 2px dashed $accent;
}

.inventory-section {
  // @include span-columns(8);
  // padding: 1rem;
}

.order-summary {
  // @include span-columns(4);
}
