.permissions-modal {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 30%;
  background-color: $light-gray;
  padding: 3rem;
  border: 1px solid black;
}

.permission-new {
  display: inline-block;
  margin-top: 2rem;
}

.permission-user {
  border: 1px solid black;
  width: 45%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  line-height: 2rem;
  background-color: white;
  cursor: -webkit-grab;

  p {
    margin: 0;
  }

  :active {
    cursor: -webkit-grabbing;
  }
}

.permission-remove-icon {
  height: 6.59375rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.permission-remove-icon-dragover {
  border: 0.25rem dashed black;
  padding-top: 0.25rem;
}

.permissions-modal-close-btn {
  float: right;
  padding: 0 7px;
  cursor: pointer;
  border-radius: 50%;
  font-family: $perfect-x-font-family;
}

.permissions-modal-close-btn:hover {
    background-color: tomato;
    color: white;
}

#permission_role_id {
  margin: 0 auto;
}

.permission-submission {
  margin: 1rem auto;
  display: block;
}

.permission-edit-icon {
  width: 1.5rem;
  margin-left: 1rem;
}
