.supplier-show-body {
  position: relative;
  height: 100%;
}
.supplier-order-modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 20%;
  min-width: 40%;
  min-height: 30%;
  background-color: #C8E6C9;
  border: 1px solid #795548;
}

.supplier-show-select {
  margin: 1rem auto;
}

.supplier-show-select-submit {
  margin: 2rem 33%;
  width: 34%;
}

.supplier-show-contact {
  @include span-columns(3);
}

.supplier-show-inventory {
  @include span-columns(9);
  margin-right: 0;
}

.supplier-show {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  max-width: 50%;
}
