.supplier-show-body {
  position: relative;
}
.supplier-order-modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: #C8E6C9;
  border: 1px solid #795548;
}

.supplier-show-restaurant-select {
  margin: auto;
}
