// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant, .supplier:hover {
  cursor: pointer;
}

.selected {
  background-color: $light-primary;
}

.filter-options {
  overflow: hidden;
  // border: 1px solid $divider;
}
.restaurant-block {
  @include span-columns(6);
  display: inline-block;
  border: 1px solid $divider;
  padding: $small-spacing;
}

.supplier-block {
  @include span-columns(6);
  display: inline-block;
  border: 1px solid $divider;
  padding: $small-spacing;
}

.order-block {
  // @include span-columns(12);
  border: 1px solid $divider;
  width: 60%;
  margin: 0 auto;
  padding: $small-spacing;
}

.order-display {
  border-top: 1px solid black;
}

.quick-order-form {
  margin: 2rem;

  input[type="submit"] {
    width: 100%;
    margin: 0 auto;
  }
}

.institution-creation {
  border: 1px solid black;
  background-color: $light-gray;
  color: white;
  display: inline-block;
  padding: 0.5rem;
}

.signup-modal {
  position: fixed;
  top: 3rem;
  left: 10%;
  height: 0;
  width: 80%;
  background-color: $light-gray;
  border-radius: 1%;

  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.modal-on {
  height: 80%;
  padding: 2rem;
  border: 1px solid black;
  overflow: hidden;
}

.institution-modal-close-btn {
  float: right;
  padding: 0 7px;
  cursor: pointer;
  border-radius: 50%;
  font-family: $perfect-x-font-family;
}

.institution-modal-close-btn:hover {
    background-color: tomato;
    color: white;
}

.supplier-landing-orders {
  width: 50%;
  float: left;
}

.supplier-landing-charts {
  width: 50%;
  float: left;
}

.supplier-order-popup {
  height: 0;
  width: 0;
  left: 50%;
  top: 15%;
  background-color: $light-gray;
  position: fixed;
  overflow: hidden;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.supplier-order-popup-active {
  height: 75%;
  width: 45%;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1%;
}

.supplier-landing-order-list {
  // border: 1px solid black;
  margin: 0 1rem 3rem;
}

.supplier-order-modal-close-btn {
  float: right;
  padding: 0 7px;
  cursor: pointer;
  border-radius: 50%;
  font-family: $perfect-x-font-family;
}

.supplier-order-modal-close-btn:hover {
    background-color: tomato;
    color: white;
}
