<h3 class="page-heading">Suppliers</h3>
<% @suppliers.each do |supplier| %>
  <%= link_to(supplier) do %>
    <div class="supplier-show" data-id="<%= supplier.id %>">
      <%= supplier.name %>
    </div>
  <% end %>
<% end %>
